* {
    box-sizing: border-box;
}

.bloks {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 5px;
}

.blocks::after {
    content: '';
    display: block;
    clear: both;
}

.tourism, .sport, .fashion, .clothes, .autumn, .summer {
    width: 100%;
    height: 100%;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
}

.imgtourism {
    width: 100%;
    /* height: 280px; */
    height: auto;
    background-image: url(imagetourism.jpg);
}

.info ul {
    padding: 0;
    list-style: none;
}

.info li:first-child {
    color: #C9A96E;
    /* margin-bottom: 4px; */
    margin-bottom: 0.96vh;
    /* height: 16px; */
    height: 3.8vh;
    /* line-height: 16px; */
    line-height: 3.8vh;
    /* font-size: 12px; */
    font-size: 3.9vw;
    /* margin-left: 132px;
    margin-right: 132px; */
    margin-left: 31.8vw;
    margin-right: 31.8vw;
    font-family: 'PT Sans';
    text-transform: uppercase;
}

.info li:nth-child(2) {
    color: #171717;
    /* margin-bottom: 10px; */
    margin-bottom: 2.4vh;
    /* height: 60px; */
    height: 14.4vh;
    /* line-height: 30px; */
    line-height: 7.2vh;
    /* font-size: 20px; */
    font-size: 5.5vw;
    /* margin-left: 36px;
    margin-right: 36px; */
    margin-left: 8.6vw;
    margin-right: 8.6vw;
    font-family: 'PT Serif';
}

.info li:nth-child(3) {
    color: #666666;
    /* height: 16px; */
    height: 3.8vh;
    /* line-height: 16px; */
    line-height: 3.8vh;
    /* font-size: 12px; */
    /* margin-left: 84px;
    margin-right: 84px; */
    /* margin-left: 74px;
    margin-right: 74px; */
    margin-left: 17.8vw;
    margin-right: 17.8vw;
    font-size: 3.9vw;
    font-family: 'PT Serif';
}

.imgsport {
    width: 100%;
    height: auto;
    background-image: url(imagesport.jpg);
}

.imgfashion {
    width: 100%;
    /* height: 64.5vh; */
    height: auto;
    background-image: url(imagefashion.jpg);
}

.imgclothes {
    width: 100%;
    height: auto;
    background-image: url(imageclothes.jpg);
}

.imgclothes2 {
    width: 100%;
    height: auto;
    background-image: url(imageclothes2.jpg);
}

.imgfashion2 {
    width: 100%;
    height: auto;
    background-image: url(imagefashion2.jpg);
}

.imgautumn {
    width: 100%;
    height: auto;
    background-image: url(imageautumn.jpg);
}

.imgclothes3 {
    width: 100%;
    height: auto;
    background-image: url(imageclothes3.jpg);
}

.imgsummer {
    width: 100%;
    height: auto;
    background-image: url(imagesummer.jpg);
}

.imgsummer2 {
    width: 100%;
    height: auto;
    background-image: url(imagesummer2.jpg);
}

.imgsummerbig {
    width: 100%;
    height: auto;
    background-image: url(imagesummerbig.jpg);
}

.summerbig {
    width: 100%;
    height: auto;
    text-align: left;
}

.summerbig .info li:first-child {
    color: #C9A96E;
    margin-bottom: 0.96vh;
    height: 3.8vh;
    line-height: 3.8vh;
    font-size: 3.9vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    font-family: 'PT Serif';
}

.summerbig .info li:nth-child(2) {
    color: #171717;
    margin-bottom: 2.4vh;
    height: 14.4vh;
    line-height: 7.2vh;
    font-size: 6.5vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    margin-right: 9.8vw;
    font-family: 'PT Serif';
}

.summerbig .info li:nth-child(3) {
    color: #666666;
    height: 3.8vh;
    line-height: 3.8vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    font-size: 3.9vw;
    margin-bottom: 3.3vh;
    font-family: 'PT Serif';
}

.summerbig .info li:nth-child(4) {
    height: 17vh;
    line-height: 4vh;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    font-size: 3.6vw;
    font-family: 'PT Sans';
}

.colortext {
    color: #B1B1B1;
}

@media (min-width: 768px) {
    .tourism, .sport, .fashion, .clothes, .autumn, .summer {
        width: calc(50% - 3.8vw);
        float: left;
        margin: 1.9vw;
        margin-top: 2.6vh;
        margin-bottom: 2.6vh;
    }
    .info li:first-child {
        color: #C9A96E;
        margin-bottom: 0.96vh;
        height: 3.8vh;
        line-height: 3.8vh;
        font-size: 1.8vw;
        margin-left: 15.9vw;
        margin-right: 15.9vw;
    }
    
    .info li:nth-child(2) {
        color: #171717;
        margin-bottom: 2.4vh;
        height: 14.4vh;
        line-height: 7.2vh;
        font-size: 2.9vw;
        margin-left: 4.3vw;
        margin-right: 4.3vw;
    }
    
    .info li:nth-child(3) {
        color: #666666;
        height: 3.8vh;
        line-height: 3.8vh;
        margin-left: 8.9vw;
        margin-right: 8.9vw;
        font-size: 1.8vw;
    }

    .summerbig .info li:nth-child(2) {
        font-size: 2.9vw;  
        height: 3.6vh;
        line-height: 3.6vh;
        
    }

    .summerbig .info li:nth-child(3) {
        font-size: 1.8vw; 
    }

    .summerbig .info li:first-child {
        font-size: 1.8vw;
    }

    .summerbig .info li:nth-child(4) {
        height: 17vh;
        line-height: 4vh;
        margin-left: 0.4vw;
        margin-right: 0.4vw;
        font-size: 1.8vw; 
    }
}

